//////////////////////////
///////Layout Styles/////
////////////////////////

%port-main-column
  +media(except-handhelds)
    width: 48%

%port-main-column--small
  +media(except-handhelds)
    width: 28%

%port-main-column--thirds
  +media(except-handhelds)
    width: 31%

%port-main-column--large
  +media(except-handhelds)
    width: 68%

.port-main-content
  padding: 30px 20px
  max-width: 1024px
  margin: 0 auto
  +media(except-handhelds)
    padding: 20px

//To create columns wrap them in a div with the class .port-main-content--columns
.port-main-content--columns
  @extend .port-main-content
  +media(except-handhelds)
    +display-flex
    justify-content: space-between

///Standard Two Columns////
.port-main-left-column
  @extend %port-main-column

.port-main-right-column
  @extend %port-main-column

///1:3 Ratio Columns////
.port-main-column--small
  @extend %port-main-column--small

.port-main-column--large
  @extend %port-main-column--large

///Three Columns////
.port-main-left-column--thirds
  @extend %port-main-column--thirds

.port-main-middle-column--thirds
  @extend %port-main-column--thirds

.port-main-right-column--thirds
  @extend %port-main-column--thirds


a
  text-decoration: none
  color: $main-link-color
  &:hover
    text-decoration: underline

p
  font-weight: 300
  line-height: 30px
  margin-bottom: 20px

.port-main-text-align
  text-align: center

.port-main-section-end
  margin-bottom: 40px

%port-main-img
  margin-bottom: 40px
  width: 100%

.port-main-img
  @extend %port-main-img
  &-border
    @extend %port-main-img
    border-bottom: 1px solid #ececec

.port-main-hide-image-moible
  +media(handhelds)
    display: none
