<div class="icr-styles-view-resets">
    <div class="icr-main-content">
        <h2>Basic Headers</h2>
        <div class="icr-style-component">
            <div class="icr-style-component-render">
                <h1>H1 Header</h1>
                <h2>H2 Header</h2>
                <h3>H3 Header</h3>
                <h4>H4 Headers</h4>
            </div>
        </div>

        <h2>Lists</h2>
        <p>Avoid nested lists and number lists</p>
        <div class="icr-style-component">
            <div class="icr-style-component-render">
                <ul class="icr-main-list">
                    <li>List Item #1</li>
                    <li>List Item #2</li>
                    <li>List Item #3</li>
                    <li>List Item #4</li>
                    <li>List Item #5</li>
                </ul>

            </div>
        </div>
        <h2>Buttons</h2>
        <div class="icr-style-component">
            <div class="icr-style-component-render">
                <button class="icr-main-button">Click Here</button>
                <button class="icr-main-button-aux">Click Here</button>
                <button class="icr-main-button-sell">Click Here</button>
                <button class="icr-main-button-advantage">Click Here</button>
                <button class="icr-main-button-advantage-secondary">Click Here</button>
            </div>
        </div>

        <h2>Links</h2>
        <p>You can use icr-main-link-mode to target link color in different apps.</p>
        <div class="icr-style-component">
            <div class="icr-style-component-render">
                <a href="" class="icr-main-link">Click Me</a>
                <a href="" class="icr-main-link-mode">Click Me</a>
            </div>
            <div class="icr-style-component-code">
                <code ascii>
                    <a href="" class="icr-main-link">Click Me</a> #
                    <a href="" class="icr-main-link-mode">Click Me</a> #
                </code>
            </div>
            <div class="icr-style-component-code">
                <code ascii>
                    %-icr-main-link #
                        =background: none #
                        =text-decoration: none #
                        =cursor: pointer #
                    #
                    %icr-main-link #
                        =@extend %-icr-main-link #
                        =font-size: 16px #
                        =&:hover #
                            ==text-decoration: underline #
                    #
                    .icr-main-link #
                        =@extend %icr-main-link #
                        =color: $brand-color #
                    #
                    .icr-main-link-mode #
                        =@extend %icr-main-link#
                </code>
            </div>
        </div>
    </div>
</div>
